.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    gap: 8px;
}

li img {
    width: 320px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

@media (max-width: 480px) {
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% - 40px);
        margin: 0 20px;
        gap: 8px;
    }
}

@media (max-width: 768px) {
    .item {
        display: inline-block;
        width: 50%;
    }
}