.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}